<div>AppComponent</div>

<nav>
  <a [routerLink]="['/bla/books']" routerLinkActive="active">Books</a>
  <a [routerLink]="['/bla/cars']" routerLinkActive="active">Cars</a>
  <!-- <a [routerLink]="[{ outlets: { modal: 'modal' } }]">Modal</a> -->
</nav>

<router-outlet></router-outlet>

<router-outlet name="modal"></router-outlet>

<button (click)="showTree = !showTree">
  {{ (showTree ? 'Hide' : 'Show') + ' routes' }}
</button>

<h3>Global:</h3>
<pre>{{ allParams$ | async | json }}</pre>

<h3>Global recursively:</h3>
<pre>{{ allParamsRecursively$ | async | json }}</pre>

<pre [hidden]="!showTree">{{ tree | json }}</pre>
